<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>サイト名</th>
    </tr>
  </thead>
  <% @articles.each do |article| %>
  <tbody>
    <tr>
      <td><%= link_to "#{article.title}", article.url %></td>
      <td><%= article.name %></td>
    </tr>
  </tbody>
  <% end %>
</table>