<div class="content">
  <%= render 'site/form' %>
  <h1 class="title">VolunSearch</h1>
</div>
<div>
  <table class="table" style="table-layout:fixed">
    <thead>
      <tr>
        <th style="width:100px">タイトル</th>
        <th style="width:10px">サイト名</th>
        <th style="width:10px">読んだ？</th>
      </tr>
    </thead>
    <% @sites.each do |site| %>
    <tbody>
      <tr>
        <td><%= link_to "#{site.title}", site.url %></td>
        <td><%= site.name %></td>
        <td> 
         
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>